.dropdown {
  position: relative;
  .dropdown-trigger {
    padding: 7px 15px;
    background-color: var(--primary);
    color: var(--bg);
    border: none;
    cursor: pointer;

    display: block;
  }

  .dropdown-menu {
    position: fixed;
    z-index: 10;
    background-color: var(--primary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
    transform: translate(0, 0);
    transition: transform 0.3s ease;
    border-radius: 8px;
    color: var(--bg);
  }

  .dropdown-item {
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    width: fit-content;
  }

  .dropdown-item:hover {
    background-color: var(--secondary20);
  }

  @media screen and (max-width: 600px) {
  }
}
